<section id="sobre-nosotros" class="w-[90%] md:w-[60%] mx-auto py-24 md:py-32 text-left border-t border-gray-200">
  <div>
    <h2 class="text-xl md:text-2xl font-semibold uppercase tracking-wide mb-8">
      Sobre nosotros
    </h2>
    <p class="text-sm md:text-base font-light text-gray-700 leading-relaxed">
      En Betcraft nos dedicamos a hacer realidad tus ideas a travéz de productos
      personalizados que destacan por su calidad y creatividad.
      Nuestra pasión es acompañarte en cada paso, desde la inspiración hasta el
      producto final, garantizando un proceso ágil y confiable.
    </p>
  </div>
</section>
