<section class="w-[90%] md:w-[60%] mx-auto px-4 py-24 md:py-32 text-center">
  <div>
    <h2 class="text-xl md:text-2xl font-semibold uppercase tracking-wide mb-8">
      Búsqueda Popular
    </h2>
    <div class="flex flex-wrap justify-center gap-2 md:gap-3">
      <span class="px-2.5 py-1 text-xs md:px-4 md:py-2 md:text-sm border border-black uppercase tracking-tight text-black hover:bg-black hover:text-white transition">
        #Creatividad
      </span>
      <span class="px-2.5 py-1 text-xs md:px-4 md:py-2 md:text-sm border border-black uppercase tracking-tight text-black hover:bg-black hover:text-white transition">
        #DiseñoGráfico
      </span>
      <span class="px-2.5 py-1 text-xs md:px-4 md:py-2 md:text-sm border border-black uppercase tracking-tight text-black hover:bg-black hover:text-white transition">
        #Sublimación
      </span>
      <span class="px-2.5 py-1 text-xs md:px-4 md:py-2 md:text-sm border border-black uppercase tracking-tight text-black hover:bg-black hover:text-white transition">
        #RegalosPersonalizados
      </span>
      <span class="px-2.5 py-1 text-xs md:px-4 md:py-2 md:text-sm border border-black uppercase tracking-tight text-black hover:bg-black hover:text-white transition">
        #ImpresiónDigital
      </span>
      <span class="px-2.5 py-1 text-xs md:px-4 md:py-2 md:text-sm border border-black uppercase tracking-tight text-black hover:bg-black hover:text-white transition">
        #DiseñoDeProducto
      </span>
      <span class="px-2.5 py-1 text-xs md:px-4 md:py-2 md:text-sm border border-black uppercase tracking-tight text-black hover:bg-black hover:text-white transition">
        #RegalosCreativos
      </span>
      <span class="px-2.5 py-1 text-xs md:px-4 md:py-2 md:text-sm border border-black uppercase tracking-tight text-black hover:bg-black hover:text-white transition">
        #ArteDigital
      </span>
      <span class="px-2.5 py-1 text-xs md:px-4 md:py-2 md:text-sm border border-black uppercase tracking-tight text-black hover:bg-black hover:text-white transition">
        #PapeleríaCreativa
      </span>
      <span class="px-2.5 py-1 text-xs md:px-4 md:py-2 md:text-sm border border-black uppercase tracking-tight text-black hover:bg-black hover:text-white transition">
        #EmprendimientoCreativo
      </span>
    </div>
  </div>
</section>
